//Main scss file

//Base
@import "base/variables";
@import "base/fonts";
@import "base/global";

//Modules
.turbo-air{
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  @import "modules/header";
  @import "modules/vision";
  @import "modules/features";
  @import "modules/kitchen";
  @import "modules/brands";
  @import "modules/network";
  @import "modules/newsletter";
  @import "modules/footer";
}
