a{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}


//Main text color
.primary-text{
  color:$primary;
}

//Learn More Button
.learn-more-btn{
  background: transparent;
  color: #e7ebfd;
  border: 0.5px solid $primary;
  border-radius: 5px;
  padding: 5px 50px;
  font-size: 14px;
  line-height: 16px;
  &:hover{
    background: $primary;
    color: #ffffff;
  }
}

//Shaped title
.figure-taq{
  &:after{
    content: "Brands";
    clip-path: polygon(49% 31%, 100% 18%, 100% 0, 0 0, 0 17%);
    -webkit-clip-path: polygon(49% 31%, 100% 18%, 100% 0, 0 0, 0 17%);
    background:$primary;
    width:250px;
    height:180px;
    text-align:center;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    font-size: 21px;
    font-weight: 400;
    line-height: 28px;
    padding-top: 5px;
    box-shadow: 6px 22px 34px 1px rgba(0,0,0,5);
  }
}