&__brands{
  background:url("../../img/backgrounds/bg-2.png");
  padding: 0 0 20px 0;
  @media(min-width: 1200px){
    padding: 0 0 70px 0;
  }
  &__showcase{
    &__brand-box{
      &:first-child{
        padding: 105px 15px 45px;
      }
      padding-bottom: 50px;
      .brand-logo{
        img{
          width: 386px;
          margin: 0 auto;
          display: block;
        }
        .brand-img-label{
          span{
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
          }
        }
      }
      .brand-desc{
        p{
          //border-image: url("../../img/border.png");
          //border-bottom: 0;
          //border-left: 0;
          //border-right: 0;
          margin-top: 10px;
          font-size: 16px;
          font-weight: 400;
          line-height: 27px;
          color:#e2e2e2;
        }
      }
      .brand-img{
        padding-top: 60px;
      }
      @media(min-width: 768px){
        &:first-child{
          padding: 105px 50px 45px;
        }
      }
      @media(min-width: 1200px){
        &:first-child{
          padding: 105px 287px 45px 287px;
        }
        padding: 55px 287px 45px 287px;
      }
    }
    .brand-separator{
      height: 6px;
      background: url("../../img/SteelThinLine.png");
    }
  }
}