&__features{
  background:rgba(0,0,0,0.8);
  padding: 70px 0;
  .nav{
    max-width: 920px;
    margin: 0 auto;
    width: 100%;
    .nav-item{
      background: transparent;
      .nav-link{
        color:#fff;
        border-radius: 0;
        background: #3A3F4C;
        padding: 15px;
        &:hover{
          color: $primary;
        }
        &.active{
          background: $primary;
          color:#333;
          &:hover{
            color:#333;
          }
        }
      }
    }
  }
}